<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">
        
        <!-- main -->
        <main>
            <% include ../partials/header %>

            <div class="row grid-title">
                Circuiti
            </div>
            <div class="row grid-container">
                <table id="circuits_grid" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descrizione</th>
                            <th>Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Dummy</td>
                            <td align="center">
                                <span><a href="/circuit/edit/1"><i class="fas fa-edit"></i></a></span>
                                <span><a href="/circuit/remove/1"><i class="fas fa-trash-alt"></i></a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </main>

        <% include ../partials/footer %>
        <script type="text/javascript" src="/public/js/circuits.js"></script>
    </body>
</html>