<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container-fluid">
        
        <!-- main -->
        <main>
            <% include ../partials/header %>

            <div class="row">
                home
            </div>

        </main>

        <% include ../partials/footer %>
    </body>
</html>